<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resgister Page</title>
</head>
<body>
<h1> Register Page</h1>
<hr>
<form action="/join" method="POST">
    <label>
        <input type="text" name="username" , placeholder="UserName">

    </label> <br>
    <label>
        <input type="password" name="password" , placeholder="Password">

    </label> <br>
    <label>
        <input type="email" name="email", placeholder="Email">
    </label> <br>
    <button> join </button>
</form>



</body>
</html>